@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&family=Rancho&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rancho', cursive;
    font-size: x-large;
}
nav{
    font-family: 'Delius Unicase', cursive;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}
nav > a:visited, .product-links > a{
    color: #363e55;
}

nav > a, .product-links > a{
    text-decoration: none;
    
}
footer{
    padding-top: 1vh;
    display: flex;
    justify-content: space-around;
}
header, footer{
    background-color: rgb(228, 209, 225);
}
.social-logo{
    height: 5vh;
    width: auto;
}

.home-container{
    background-image: url("/images/alexander-grey-jYbKxinWQGk-unsplash.jpg");
    background-position: center;
    background-size: cover;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.home-container > img{
    height: 45vh;
    width: auto;   
}
.home-container > p{
    max-width: 30%;
}

.product-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product-item{
    /* border: 2px solid #DFE7FD; */
    margin: 1rem;
    padding: 1rem;
    background-color: #dfe7fd8f;
    border-radius: 0.5rem;
}
.product-heading{
    text-align: center;
    font-size: 4rem;
}
.product-links{
    text-align: center;
}
.product-page{
    background-image: url("/images/j-lee-5WFfI63aEBo-unsplash.jpg");
    background-position: center;
    background-size: cover;
    min-height: fit-content;

}
.product-item > img{
    border-radius: 0.5rem;
    height: auto;
    width: 30vh;
}
